@use '@/style/function' as *;

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-y {
  0% {
    transform: translateY(-4px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes submenu-height-change {
  0% {
    height: var(--nav-submenu-prev-height);
  }
  to {
    height: var(--nav-submenu-next-height);
  }
}

.nav {
  --nav-transition-rate: 0.24s;
  --nav-transition-item-rate: 0.12s;
  --nav-transition-func: cubic-bezier(0.4, 0, 0.6, 1);
  @apply fixed z-10 top-0 left-0 w-full text-xs;
  transition: background-color var(--nav-transition-rate) var(--nav-transition-func);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(v('fill-color', '1', 'rgb'), 0.8);
  &.opened {
    @apply bg-fill-200;
  }
  &.animating {
    .nav-submenu {
      transition: height var(--nav-transition-rate) var(--nav-transition-func);
    }
  }
  &-container {
    @apply mx-auto flex-center md:container px-6;
  }
  &-menu {
    @apply h-full flex flex-1 overflow-hidden items-center;
    .nav-submenu {
      @apply h-0 absolute top-full left-0 right-0 overflow-y-hidden bg-fill-200;
      &--container {
        @apply md:container mx-auto px-6 pt-8 pb-12 flex;
      }
      &--content {
        @apply pr-20 min-w-[240px];
      }
      &--item {
        transition-property: opacity, transform;
        transform: translateY(-4px);
        opacity: 0;
        @apply text-2xl leading-none py-1 hover:text-text cursor-pointer font-semibold;
        &:first-child {
          @apply mt-2 text-text-400 text-xs cursor-default font-normal;
        }
      }

      &.open {
        z-index: 2;
        transition: height var(--nav-transition-rate) var(--nav-transition-func);
        height: var(--submenu-height);
        .nav-submenu--item {
          transform: translateY(0);
          opacity: 1;
          transition-duration: var(--nav-transition-item-rate);
          transition-delay: calc(var(--nav-transition-rate) + 20ms * var(--submenu-item-index));
        }
      }
      &.closing:not(.prev, .next) {
        @apply h-0;
        transition: height var(--nav-transition-rate) var(--nav-transition-func) var(--nav-transition-rate);
        .nav-submenu--item {
          transform: translateY(-4);
          opacity: 0;
          transition-duration: var(--nav-transition-rate);
        }
      }
      &.prev {
        height: var(--nav-submenu-prev-height);
        animation: submenu-height-change var(--nav-transition-item-rate) var(--nav-transition-func);
        animation-fill-mode: both;
        .nav-submenu--item {
          opacity: 1;
          transform: translateY(0);
          animation-direction: reverse;
          animation-duration: var(--nav-transition-rate);
          animation-name: fade-in;
          animation-timing-function: var(--nav-transition-func);
          animation-fill-mode: both;
          // animation-delay: var(--nav-transition-item-rate);
        }
      }
      &.next {
        z-index: 2;
        transition: none !important;
        background-color: transparent;
        height: var(--nav-submenu-next-height);
        .nav-submenu--item {
          opacity: 1;
          transform: translateY(0px);
          animation-duration: var(--nav-transition-rate);
          animation-name: fade-in;
          animation-timing-function: var(--nav-transition-func);
          animation-fill-mode: both;
          // animation-delay: calc(var(--nav-transition-item-rate));
        }
      }
    }
  }
}
