@use '@/style/function' as *;

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-y {
  0% {
    transform: translateY(-4px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes submenu-height-change {
  0% {
    height: var(--nav-submenu-prev-height);
  }
  to {
    height: var(--nav-submenu-next-height);
  }
}

.nav {
  --nav-transition-rate: 0.24s;
  --nav-transition-item-rate: 0.12s;
  --nav-transition-func: cubic-bezier(0.4, 0, 0.6, 1);
  background-color: v('fill-color', 2);
  @apply fixed z-10 top-0 left-0 w-full;
  &-container {
    @apply mx-auto flex-center md:container;
  }
  &-menu {
    @apply h-full flex flex-1 overflow-hidden items-center;
    &.animating {
      .nav-submenu {
        transition: height var(--nav-transition-rate) var(--nav-transition-func);
      }
    }
    .nav-submenu {
      @apply h-0 absolute top-full left-0 right-0 mt-[-44px] overflow-y-hidden  bg-fill-200;
      &--container {
        @apply md:container mx-auto py-4 mt-[44px];
      }
      .nav-submenu--item {
        transition-property: opacity, transform;
        transform: translateY(-4px);
        opacity: 0;
      }
      &.open {
        z-index: 2;
        transition: height var(--nav-transition-rate) var(--nav-transition-func);
        height: var(--submenu-height);
        .nav-submenu--item {
          transform: translateY(0);
          opacity: 1;
          transition-duration: var(--nav-transition-item-rate);
          transition-delay: calc(var(--nav-transition-rate) + 20ms * var(--submenu-item-index));
        }
      }
      &.prev {
        height: var(--nav-submenu-prev-height);
        animation: submenu-height-change var(--nav-transition-item-rate) var(--nav-transition-func);
        animation-fill-mode: both;
        .nav-submenu--item {
          opacity: 1;
          transform: translateY(0);
          animation-direction: reverse;
          animation-duration: var(--nav-transition-rate);
          animation-name: fade-in;
          animation-timing-function: var(--nav-transition-func);
          animation-fill-mode: both;
          // animation-delay: var(--nav-transition-item-rate);
        }
      }
      &.next {
        z-index: 2;
        transition: none !important;
        height: var(--nav-submenu-prev-height);
        animation: submenu-height-change var(--nav-transition-item-rate) var(--nav-transition-func);
        animation-fill-mode: both;
        background-color: transparent;
        .nav-submenu--item {
          opacity: 1;
          transform: translateY(0px);
          animation-duration: var(--nav-transition-rate);
          animation-name: fade-in;
          animation-timing-function: var(--nav-transition-func);
          animation-fill-mode: both;
          // animation-delay: calc(var(--nav-transition-item-rate));
        }
      }
      &.closing:not(.prev, .next) {
        @apply h-0;
        transition: height var(--nav-transition-rate) var(--nav-transition-func) var(--nav-transition-rate);
        .nav-submenu--item {
          animation-duration: var(--nav-transition-rate);
          animation-direction: reverse;
          animation-name: fade-in-y;
          animation-timing-function: var(--nav-transition-func);
          animation-fill-mode: both;
        }
      }
      &--item {
        @apply py-1;
      }
    }
  }
}
